security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    # Firewall pour l'admin
    admin:
      pattern: ^/admin
      provider: app_user_provider
      custom_authenticator: App\Security\LoginAuthenticator
      logout:
        path: admin_logout
        target: admin_login
      # optionally remember_me
      # remember_me:
      #     secret: '%kernel.secret%'
      #     lifetime: 604800

    # Firewall pour les utilisateurs normaux
    main:
      pattern: ^/
      provider: app_user_provider
      custom_authenticator: App\Security\LoginAuthenticator
      logout:
        path: app_logout
        target: app_login

  access_control:
    # Accès admin
    - { path: ^/admin, roles: ROLE_ADMIN }
    # Accès utilisateur normal
    - { path: ^/artist, roles: ROLE_ARTIST }
